/* Reset styling */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Noto Sans JP", sans-serif;
}

:root {
    --title-color: #333333
    --body-color: #696969
    --background-color: #eeeeee
    --foreground-color: #ffffff
    --blend-mode: normal
}

.dark-theme{
    --title-color: #ffffff
    --body-color: #afafaf
    --background-color: #181621
    --foreground-color: #211f2a
    --blend-mode: lighten
}

